<div class="wrapper">
  <!--=== Header v1 ===-->
  <div class="header-v1">
    <!-- Topbar -->
    <div class="topbar-v1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-inline top-v1-contacts">
              <li>
                <i class="fa fa-envelope"></i> Email: avinashpateljn@gmail.com
              </li>
              <li><i class="fa fa-phone"></i> Contact no : 88666 00555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- End Topbar -->

    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="res-container">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-responsive-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- <div class="navbar-brand">
            <a routerLink="">
              <img src="" alt="LOGO" />
            </a>
          </div>
        </div> -->
        <!--/end responsive container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <div class="res-container">
            <ul class="nav navbar-nav" style="display: flex; flex-direction: row;">
              <!-- Collect the nav links, forms, and other content for toggling -->

              <!-- Home  -->
              <li class="mega-menu-fullwidth">
                <a routerLink=""> HOME </a>
              </li>
              <!-- End Home-->

              <!-- About Us -->
              <li class="mega-menu-fullwidth">
                <a routerLink="about"> ABOUT US </a>
              </li>
              <!-- End About us -->

              <!-- Doctors -->
              <li class="mega-menu-fullwidth">
                <a routerLink="doctor"> DOCTORS </a>
              </li>
              <!-- End Doctors -->

              <!-- Gallery -->
              <li class="mega-menu-fullwidth">
                <a routerLink="gallery"> GALLERY </a>
              </li>
              <!-- End Gallery -->

              <!-- Blog -->
              <li class="mega-menu-fullwidth">
                <a routerLink="block"> BLOGS </a>
              </li>
              <!-- End Blog -->

              <!-- Contact Us -->
              <li class="mega-menu-fullwidth">
                <a routerLink="contact"> CONTACT US </a>
              </li>
              <!-- End Contact us -->

              <!-- Registration -->
              <li class="mega-menu-fullwidth">
                <a routerLink="registration"> REGISTRATION </a>
              </li>
              <!-- End registration -->

              <!-- login -->
              <li class="mega-menu-fullwidth">
                <a routerLink="login"> LOGIN </a>
              </li>
              <!-- End login -->

              <!-- Appointment -->
              <li class="mega-menu-fullwidth">
                <a routerLink="appointment"> BOOK APPOINTMENT </a>
              </li>
              <!-- End Appointment -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Navbar -->
</div>

