
<div class="wrapper">
    
      <!-- Image title -->

      <div style="text-align: center; margin-top: 50px ; padding-bottom:30px ;">
        <h2>GALLERY</h2>
      </div>
      <!-- End title  -->
      <div class="responsive zoom">
        <div class="gallery">
          <a href="assets/img/gallery/room1.jpg">
            <img src="assets/img/gallery/room1.jpg" alt="Rooms for patients">
          </a>
          <div class="desc">Rooms for patients</div>
        </div>
      </div>
      
      <div class="responsive zoom">
        <div class="gallery">
          <a href="assets/img/gallery/opd.jpg">
            <img src="assets/img/gallery/opd.jpg" alt="OPD area">
          </a>
          <div class="desc">OPD area</div>
        </div>
      </div>
      
   <div class="responsive zoom">
  <div class="gallery">
    <a href="assets/img/gallery/opd2.jpg">
      <img src="assets/img/gallery/opd2.jpg" alt="Opd area">
    </a>
    <div class="desc">OPD area</div>
  </div>
</div>

<div class="responsive zoom">
  <div class="gallery">
    <a  href="assets/img/gallery/parking.jpg">
      <img src="assets/img/gallery/parking.jpg" alt="parking arae">
    </a>
    <div class="desc">Parking Area</div>
  </div>
</div>

<div class="responsive zoom">
  <div class="gallery">
    <a href="assets/img/gallery/cath_lab.jpg">
      <img src="assets/img/gallery/cath_lab.jpg" alt="cath lab">
    </a>
    <div class="desc">cath laboratory</div>
  </div>
</div>


<div class="responsive zoom">
  <div class="gallery">
    <a href="assets/img/gallery/reception.jpg">
      <img src="assets/img/gallery/reception.jpg" alt="reception">
    </a>
    <div class="desc">Reception Area</div>
  </div>
</div>


<div class="responsive zoom">
  <div class="gallery">
    <a href="assets/img/gallery/platinum_wing.jpg">
      <img src="assets/img/gallery/platinum_wing.jpg" alt="platinum wing">
    </a>
    <div class="desc">Platinum wings</div>
  </div>
</div>

<div class="responsive zoom">
  <div class="gallery">
    <a href="assets/img/gallery/hospital.jpg">
      <img src="assets/img/gallery/hospital.jpg" alt="hospital">
    </a>
    <div class="desc">Hospital</div>
  </div>
</div>
<div class="clearfix"></div>
</div>
